html,
body {
      padding: 0;
      margin: 0;
      background-color: #f2f2f2;
      overflow: hidden;
      height: 100%;
}

#iframe {
    background-color: cadetblue;
    height: 90vh;
    width: 100%;
}

#titol {
    text-align: center;
    font-size: 2em;
    font-weight: bold;
    padding: 0;
}

.botoD{
    margin-top: 2em;
}
