html,
body {
	padding: 0;
	margin: 0;
	background-color: #dddddd;
	overflow: hidden;
}
#titol {
	text-align: center;
	font-size: 4em;
	font-weight: 100;
	margin: 0;
	margin-top: 2em;
	padding: 0;
}

.botoD{
	position: fixed;
	bottom: 2em;
	width: 100%;
	margin-top: 2em;
}
